.main {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main > form {
  width: 25rem;
  max-width: 90%;
  padding: 2rem;
  border: 1px solid rgba(0,0,0,.3);
  margin: 1rem 0;
}

.main > form > div {
  width: 100%;
}

.main > form > div > input {
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border: 1px solid rgba(0,0,0,.3);
  border-radius: 3px;
}

.main > form > input {
  padding: 0.8rem 1rem;
  margin: 1rem auto;
  display: inline-block;
  width: 100%;
  background: #ff7f50;
  border: none;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

